# Xcode-specific files
*.xcworkspace
*.xcuserstate
*.xcuserdata
*.xcconfig
*.xcodeproj/project.xcworkspace/data.xcworkspacedata
*.xcodeproj/project.xcworkspace/xcuserdata
*.xcodeproj/xcuserdata
*.xcodeproj/xcuserdata/*/*/*.xcuserstate
xcuserdata/
DerivedData
build/
*.pbxuser
*.modeld/.DS_Store
*.xcdatamodeld/.DS_Store

# macOS-specific files
.DS_Store
/StraussApp.xcodeproj/xcuserdata
